EDGE_HEALTH_FORWARD_URL={{ edge_health_url }}
EDGE_HEALTH_TOKEN={{ edge_health_token }}
EDGE_HEALTH_INTERVAL={{ edge_health_interval }}
EDGE_HEALTH_TIMEOUT={{ edge_health_timeout }}
EDGE_HEALTH_MISSED_REPORTS={{ edge_health_missed_reports }}

EDGE_HEALTH_REVERSE_SSH_ADDR={{ edge_health_reverse_ssh_addr }}
EDGE_HEALTH_LOGGER_HEALTH_URL={{ edge_health_logger_health_url }}
EDGE_HEALTH_VPN_IFACE={{ edge_health_vpn_iface }}
EDGE_HEALTH_SYSTEMD_SERVICES={{ edge_health_local_services | join(',') }}

VPS_NAME={{ vps_name }}
VPS_PUBLIC_IP={{ vps_public_ip }}
VPS_INTERNAL_IP={{ vps_internal_ip | default('', true) }}
