NGINX_EDGE_LISTEN_ADDR={{ nginx_edge_listen_addr }}
NGINX_EDGE_CAPTURE_MODE={{ nginx_edge_capture_mode }}

NGINX_EDGE_LOG_PATH={{ nginx_edge_log_path }}
NGINX_EDGE_SPOOL_DIR={{ nginx_edge_spool_dir }}
NGINX_EDGE_FORWARD_URL={{ edge_forward_url }}
NGINX_EDGE_FORWARD_INTERVAL={{ nginx_edge_forward_interval }}
NGINX_EDGE_FORWARD_TIMEOUT={{ nginx_edge_forward_timeout }}

EDGE_FORWARD_TOKEN={{ edge_forward_token }}

VPS_NAME={{ vps_name }}
VPS_PUBLIC_IP={{ vps_public_ip }}
VPS_INTERNAL_IP={{ vps_internal_ip | default('', true) }}

RSSH_WS_PATH={{ rssh_ws_path }}
RSSH_PUSH_PATH={{ rssh_push_path }}
