.env
data/
src/
dist/
*.db
*.jsonl
*.log
*.exe
__pycache__/
*.pyc
deploy/ansible/inventory.ini
deploy/ansible/inventory.yml
deploy/ansible/group_vars/vps_edge.yml
deploy/ansible/group_vars/main.yml
deploy/ansible/group_vars/edge_group_1.yml
deploy/ansible/group_vars/edge_group_2.yml
deploy/ansible/group_vars/edge_group_3.yml
deploy/ansible/group_vars/edge_group_4.yml
deploy/ansible/.generated-paths/
*.retry
